//Background-Color variables
$topnavRecetaBackground: #EFEBD7;
$footer: #0F6F32;

//Color variables
$topnav: #4E5B31;
$produkteOfertaSearch: #EC6851;
$navbar: #006726;
$shoppingCart: #6E7852;
$button: #76BD58;
$infoText: #646464;
$produkteDesc: #3E3E3E;
$discountReceta: #E1563D;