@keyframes fadeBounce{
    0%{
        opacity: 0;
        transform: translateY(-400%);
    }

    40%{
        transform: translateY(0);
    }

    55%{
        transform: translateY(-6px);
    }

    70%{
        opacity: 1;
        transform: translateY(0);
    }

    80%{
        transform: translateY(-3px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.hero{
    position: relative;
    background-image: url('./images/hero-small.png');

    @include atLarge{
        background-image: url('./images/hero.png');
        height: 689px;
    }

    &__container{
        width: 75%;
        height: 400px;
        position: relative;
        background: #006726a4;
        border-radius: 0 0 90% 0;
        padding: 13px;

        @include atMedium{
            width: 50%;
        }

        @include atLarge{
            height: 689px;
            padding: 90px 0 90px 80px;
        }

    }
    &__slider{
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &.active{
            opacity: 1;
            visibility: visible;
            >*{
                animation-name: fadeBounce;
                opacity: 0;
                animation-duration: 1s;
                animation-fill-mode: forwards;
            }
            p{
                animation-delay: .5s;
            }
            button{
                animation-delay: 1s;
            }
        }

        &--header{
            color: #fff;
            font-family: 'Kaushan Script';
            font-size: 1.8rem;
            font-weight: 900;
            span{
                display: block;
            }

            @include atLarge{
                font-size: 46px;
            }

        }

        &--description{
            font-size: .78rem;
            color: #fff;
            line-height: 1.6;
            padding-top: 1rem;
            max-width: 200px;

            @include atMedium{
                max-width: 240px;
            }
            
            @include atLarge{
                padding-top: 2.5rem;//40px
                font-size: 1rem;
                max-width: 350px;
            }
        }

        &--btn{
            outline: none;
            border: none;
            font-size: 1rem;
            color: #fff;
            background: $produkteOfertaSearch;
            text-transform: capitalize;
            padding: 6px 12px;
            border-radius: 50px;
            font-weight: bold;
            margin-top: 50px;
            cursor: pointer;

            @include atLarge{
                font-size: 20px;
                padding: 14px 46px;
                margin: 75px 0;
            }
        }

        &--dots{
            position: absolute;
            bottom: 20px;

           @include atMedium{
               bottom: 40px;
           }

            @include atLarge{
                bottom: 84px;
            }

            &-1{
                height: 22px;
                width: 22px;
                border: 2px solid #fff;
                border-radius: 50%;
                display: inline-block;
                margin-right: 7px;
                position: relative;
                cursor: pointer;
            }
            &-2{
                height: 22px;
                width: 22px;
                border: 2px solid #fff;
                border-radius: 50%;
                display: inline-block;
                margin-right: 7px;
                position: relative;
                cursor: pointer;
            }
            &-3{
                height: 22px;
                width: 22px;
                border: 2px solid #fff;
                border-radius: 50%;
                display: inline-block;
                position: relative;
                cursor: pointer;
            }
            &-active{
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                pointer-events: none;
            }
            
        }
    }
}