.iconic-div{
    background: #ededed;
}

.added_to_cart{
    display: none;
}

.product_permalink{
    text-decoration: none;
    color: #f1907f;
}

.button{
    // background: #0f6f32 !important;
    color: #efefef !important;
}

#order_review_heading{
    margin-top: 40px;
    margin-bottom: 10px;
}